*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.idea/
*.retry
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.pyc
.molecule
.cache
docker-monolith/
.env
src/src.tar.gz
build_info.txt
